body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #f0f0f0;
  gap: 24px;
}

#turn {
  font-size: 48px;
}

.game-board {
  display: grid;
  gap: 12px;
  background-color: #a0a0a0;
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: repeat(3, 120px);
  padding: 0;
  justify-content: center;
  width: min-content;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 96px;
  /* vertical-align: middle; */
  background-color: #fff;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 16px;
}

.form-item {
  display: flex;
  flex-direction: column;
}

.form-item.radio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.form-item.radio h1 {
  grid-area: 1/1/2/3;
  font-size: 16px;
  text-decoration: none;
  font-weight: normal;
}

.form-item.radio div:first-child {
  margin-right: auto;
}
